body {
  margin: 0;
  background-color: rgb(208, 219, 159);
}

/* ===========
navigation bar
=============*/

.navbar {
  display: block;
  background:rgb(2, 156, 220);
  align-items: center;
  padding: 5px 0;

  /* add a media query that makes it flex here */
}

.select {
  display: block;
  margin: 10px 5px 10px 5px;
  background-color: rgb(255, 69, 81);
  padding: 5px;
  text-align: center;
}

.select:hover {
  background-color: rgb(208, 219, 159);
}

/* ===========
header area
=============*/

header {
  text-align: center;
}

/* ===========
main
=============*/

main{
  padding: 20px;
}

img {
  width: 100%;
}

section {
  margin: 15px 0;
}

.flex_image {
  text-align: center;
}


@media screen and (min-width: 700px) {
  .container_new {
    display: flex;
  } .flex_text {
    width: 50%;
    padding: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .container_new {
    display: flex;
    padding: 0 20%;
  } .flex_text {
    width: 50%;
    padding: 10px;
  }
}

/* ===========
footer
=============*/


footer {
  display: grid;
  background:rgb(2, 156, 220);
  text-align:center;
  padding: 5px 0;
}

footer p {
  font-style: italic;
  font-weight: bold;
  padding: 0 5px;
  font-size: 20px;
}

.socmedia {
  /* display: flex; */
  align-items: center;
}

footer .fa {
  width: 30px;
  align-items: center;
  padding: 10px;
  background-color: rgb(255, 69, 81);
  text-align: center;
  font-size: 20px;
  color: black;
  border-radius: 40%;
}

.fa:hover{
  background-color: rgb(208, 219, 159);
}
